:root {
  --main-color: #fafafa;
  --main-font: montserrat;
  --secondary-color: #fdba74;
}

@font-face {
  font-family: satisfy;
  src: url(/src/assets/Satisfy-Regular.ttf);
}
@font-face {
  font-family: montserrat;
  src: url(/src/assets/Montserrat-Regular.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url(/src/assets/sushi_background.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  font-family: var(--main-font);
}

.content {
  display: grid;
  height: 100vh;
  grid-template-rows: 240px 1fr 60px;
  gap: 60px;
}

header {
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--main-color);

  display: grid;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 5em;
    font-family: satisfy, cursive;
  }
  ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }

  li {
    font-size: 1.6em;
    cursor: pointer;

    display: inline-block;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: var(--main-color);
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }

    &:hover::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
  .active-li {
    color: var(--secondary-color);
  }
}

.home-container {
  display: grid;
  justify-content: center;

  div {
    display: grid;
    justify-items: center;
    gap: 20px;
    padding: 50px 175px;
    background-color: rgba(0, 0, 0, 0.6);
    color: var(--main-color);

    h2 {
      font-size: 1.7em;
    }

    h3 {
      font-size: 1.1em;
    }

    img {
      width: 300px;
      border-radius: 50%;
    }
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: var(--main-color);

  font-size: 1.2em;
  background-color: rgba(0, 0, 0, 0.6);

  img {
    margin-top: 6px;
    width: 20px;
    filter: invert(93%) sepia(0%) saturate(6%) hue-rotate(181deg)
      brightness(105%) contrast(108%);
  }
}
